{% extends 'base.html' %} {% block content %}

<div class="flex-row container" id="kt_content" style="margin-right: unset">
  <div class="row">
    <div class="col-3">
      <div class="d-inline-flex m-5 p-5 flex-column border">
        <form id="filter-train">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Source Station</label
            >
            <input
              type="text"
              class="form-control"
              name="source_station"
              placeholder="City / Short Name"
              value="alwar"
              required
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Destination Station</label
            >
            <input
              type="text"
              class="form-control"
              name="destination_station"
              placeholder="City / Short Name"
              value="ahmedabad"
              required
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Date</label>
            <input
              type="date"
              value="2022-10-22"
              class="form-control"
              name="date"
              placeholder="Date"
            />
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Go</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col">
      <div class="row" id="display-trains">Please search your Train</div>
    </div>
  </div>
</div>
{% endblock content %} {% block js %}
<script>
  let form = $("#filter-train");
  form.submit(async (e) => {
    e.preventDefault();
    source_station = $("input[name='source_station']").val();
    destination_station = $("input[name='destination_station']").val();
    date = $("input[name='date']").val();
    station = source_station + "," + destination_station;

    let params = {
      station: station,
      date: date,
    };

    let url = new URL("{{url}}api/train/");

    Object.keys(params).forEach((key) =>
      url.searchParams.append(key, params[key])
    );
    let [res, json] = await _$.Fetch(url, (props = {}), (isArray = true));
    if (res.ok) {
      if (json["results"].length <= 0)
        return $("#display-trains").html("No trains Found");
      $("#display-trains").html(
        json["results"].map((t) => {
          return `<div class="col-12 mt-5"><div class="card">
            <div class="card-body">
              <h5 class="card-title">${t.name}</h5>
              <h6 class="card-subtitle mb-2 text-muted">${t.number}</h6>
              <h6 id="vacent-seats_${t.number}"></h6>
              <a href="javascript:void(0);" data-id="${
                t.number
              }" id="refresh-train_${
            t.number
          }" class="card-text float-end refresh-train" >
                <i class="fa fa-refresh" aria-hidden="true">
                </i>
              </a>
              <p>Runs On - ${t.runs_on.map((e) => e[0]).join(" ")}</p>
              <a id="book-now_${
                t.number
              }" href="javascript:void(0);" style="display:none;" class="card-link">Book Now</a>
            </div>
          </div></div>`;
        })
      );
      $(".refresh-train").click(async (c) => {
        let trainNumbers = json["results"].map((t) => {
          return t.number;
        });
        let date = params.date;
        console.log(trainNumbers, date);
        json["results"].map(async (t) => {
          let url = `/api/reservations/chartfortrain/?train__number__icontains=${t.number}&date=${date}`;
          let [res, json] = await _$.Fetch(url, (props = {}), (isArray = true));
          if (res.ok) {
            trainObj = json["results"];
            console.log(trainObj);
            $(`#vacent-seats_${t.number}`).html(
              trainObj.map((e) => {
                if (e.vacant_seats > 0) {
                  $(`#book-now_${t.number}`).show();
                  return `<span>${e.vacant_seats}</span><span class='text-success mx-5'>AVAILABLE</span>`;
                } else {
                  return `<span>${e.vacant_seats}</span><span class='text-danger mx-5'>WAITING</span>`;
                }
              })
            );
          }
        });
      });
    } else {
      alert(json["detail"]);
    }
  });
</script>
{% endblock js %}
